<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    no
                </th>
                <th scope="col" class="px-6 py-3">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    profile
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">delete</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((element,index)=> { %>


                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= index+1 %>
                    </th>
                    <td class="px-6 py-4">
                        <%= element.title %>


                    </td>
                    <td class="px-6 py-4">
                        <img src="/uploads/<%- element.banner%>" class="h-8 w-8 rounded-lg object-cover" alt="">
                    </td>

                    <td class="px-6 py-4 text-right">
                        <a href="/admin/<%-cat%>/<%-element._id%>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">delete</a>
                    </td>
                </tr>


                <% }) %>


        </tbody>
    </table>
</div>